body {
  background-image: url("https://static.pexels.com/photos/132687/pexels-photo-132687.jpeg");
  background-size: cover;
   background-color: white;
  font-family:Source Sans Pro;
  color:white;  
 }

#content {
  width:100%;
  height:100%;
}

h1 {
padding: 20px;
  color: white;
}

.textStyle {
  font-weight: bold;
  font-size: 65px;
  padding-bottom: 75px;
  color: white;
}

.button {
  width:20%;
  background-color:white; 
  color: black;

}

.button:hover {
    box-shadow:0 14px 16px 0 rgba(0,0,0,0.24),0 18px 50px 0 rgba(0,0,0,0.19);
    transition-duration:0.4s;
    background-color:#be9b7b;
}